<div class="spacer">
    <h2>{{article.title}}
        <div class="controls">
            {{#if currentUser}}
               {{#if unlocked}}
                <a href="/edit/{{article._id}}">[edit]</a>
               {{/if}}
            {{/if}}
            {{#if currentUser}}
                <a href="/history/{{article._id}}">[history]</a>
            {{/if}}
        </div>
    </h2>
    <article>
        <img src="{{lastEdit.imageUrl}}">
        <p>
            {{lastEdit.content}}
        </p>

    </article>
</div>